{% extends 'base.html' %}

{% block head %}
<title>Fourier Draw</title>
{% endblock %}

{% block body %}
<!-- HEADER -->
<header>
    <div class="container">
        <h1>Fourier Draw</h1>
        <p>Draw a shape and watch it come to life with fourier series</p>
    </div>
</header>

<!-- CANVAS -->
<section id="canvas-section" class="">
    <div class="container">
        <canvas id="canvas" width="900" height="700"></canvas>
        <div class="buttons">
            <button id="clear-btn">Clear</button>
            <button id="generate-btn">Generate</button>
        </div>

        <!-- BUTTONS -->
        <div class="controls">
            <h3>Animation Parameters</h3>
            <div class="param-grid">
                <div>
                    <label for="numVectors">Number of Vectors:</label>
                    <input type="number" id="numVectors" value="41" min="1" step="2">
                </div>

                <div>
                    <label for="sortStyle">Sort Style:</label>
                    <select id="sortStyle">
                        <option value="speed" selected>Speed</option>
                        <option value="size">Size</option>
                    </select>
                </div>
                <div>
                    <label for="sortAscending">Sort Ascending:</label>
                    <input type="checkbox" id="sortAscending" checked>
                </div>

                <div>
                    <label for="keepTail">Keep Tail:</label>
                    <input type="checkbox" id="keepTail" checked>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- LOADING -->
<section id="loading-section" class="hide">
    <div class="container">
        <h2>Creating your video (takes around 2 min.)</h2>
    </div>
</section>


<!-- VIDEO -->
<section id="video-section" class="hide">
    <div class="container">
    </div>
</section>

{% endblock %}